.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  background-position: 50% 50%;
  min-height: 674px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-1 .u-text-1 {
  width: 242px;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-1 .u-image-1 {
  width: 416px;
  height: 416px;
  background-image: url("images/image2.png");
  background-position: 50% 50%;
  margin: 53px 24px 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 1.2;
  margin: -288px auto 0 24px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 20px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 129px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  border-style: solid;
  background-image: none;
  margin: 153px auto 0 24px;
  padding: 10px 223px 10px 221px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 313px;
  min-width: 146px;
  margin: -43px 76px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(219, 83, 75) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(197, 54, 164) !important;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(0, 230, 118) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(59, 89, 152) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 12px 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 360px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 325px;
    margin-top: -452px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    line-height: 1.4;
    margin-top: -197px;
  }

  .u-section-1 .u-text-3 {
    letter-spacing: 4px;
    font-size: 1rem;
    width: auto;
    margin-top: 127px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 109px;
    padding-left: 109px;
  }

  .u-section-1 .u-social-icons-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: 41px;
    width: 295px;
    margin-top: 25px;
    margin-right: auto;
  }
}